@import "tailwindcss";

@theme {
  
  /* pour ajouter des variables ici*/
  --color-brand-black: var(--black-color);
  --color-brand-white: var(--white-color);
  --color-brand-green: var(--green-color);
  --color-green-primary: var(--green-primary);
  --color-green-secondary: var(--green-secondary);
}

:root {
  --black-color: #1c1c1c;
  --white-color: #ffffff;
  --green-color: #71ddae;
  --green-primary: #6edaac;
  --green-secondary: #2c9e7b;
}